@import 'variables.css';

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 0;
}

.contact-form {
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  border: none;
}

.mensaje-envio {
  display: none;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  background: white;
  color: var(--acentos-suaves-color);
  border: 1px solid var(--acentos-suaves-color);
  text-align: center;
}

.horarios {
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

iframe {
  width: 100%;
}
