@import 'variables.css';

.container {
  max-width: 800px;
  margin: 0 auto;
}

.about-us {
  margin: 50px auto;
}

.about-us p {
  margin-bottom: 20px;
  text-align: justify;
}

video {
  max-width: 100%;
  height:auto;
}