@import "./variables.css";

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-2xl);
}

.spinner {
  width: 40px;
  height: 40px;
  border: 3px solid #d4a5372d;
  border-top-color: var(--detalles-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader-text {
  opacity: 0.7;
  margin-top: 1.5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
