@import 'variables.css';
.producto-loading {
  opacity: 0;
  visibility: hidden;
}

.producto-loaded {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

.producto-loaded {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: clamp(1rem, 2vw, 2rem);
}

.producto-info {
  flex: 1 1 clamp(220px, 50%, 800px);
  min-width: 220px;
}

.producto-galeria {
  flex: 1 0 clamp(300px, 20vw, 750px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.producto-galeria figure {
  margin: 0;
  width: min(100%, 700px);
  aspect-ratio: 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.producto-galeria img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 6px;
}

#producto-titulo {
  color: var(--color-primario);
}

#detalle-titulo {
  font-weight: 500;
  color: var(--acentos-suaves-color);
}

#precio-producto {
  font-weight: 700;
}

.cantidad-container {
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: visible;
  cursor: pointer;
}

input[type="number"] {
  border: none;
  outline: none;
}

#cantidad:focus {
  transition: 0.04s;
  box-shadow: 0 0 0 3px #c47a6d3d;
}

#cantidad {
  height: 2.5rem;
  width: 4rem;
  border-radius: 3px;
  padding: 2px 8px;
  text-align: center;
  font-size: 1.1rem;
  border: 1px solid #c47a6d00;
}

#cantidad:hover {
  border-color: var(--acentos-suaves-color);
}

.producto-info > div {
  border-bottom: 1px solid #c47a6d8e;
  padding-bottom: 0.9rem;
  margin-bottom: 0.9rem;
}

.detalle-producto ul {
  padding-left: 40px;
}
.acciones-producto {

    display: flex;
    gap: 10px; 
    margin-top: 20px;
    align-items: center;
}

.btn-eliminar {
    background-color: #c47a6d; 
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-eliminar:hover {
    background-color: #a7665b; 
}


.btn-secondary {
    padding: 10px 16px;
    border-radius: 6px;
    background-color: #f5e6d3;
    border: 1px solid #a0522d; 
    color: #a0522d;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-secondary:hover {
    background-color: #a0522d;
    color: #fff;
}

@media (max-width: 768px) {
  .container {
    margin-top: 3rem;
  }

  .nav-links li a {
    color: var(--fondo-principal-color);
  }
}
